<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {#    datatable#}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.css"/>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-html5-1.6.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <style>
        @page {
            size: A4;
        {#margin: 30mm 45mm 100mm 45mm;#}
            margin-top: 50mm;
            margin-bottom: 30mm;
            page-break-after: always;
        }

        @media print {
            @font-face {
                font-family: 'Verdana';
                src: url("../resources/fonts/THSarabunNew Italic.ttf");
            }

            body {
                font-family: 'Verdana' !important;
                font-size: 16px !important;
            }

        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>ThaiMarket Express PDF</title>
</head>
<body>

{#<div style="padding-bottom: 189px;"></div>#}

<div>
    <div class="row">
        <div class="col-13" style="font-size: 18px !important;">
            <b>Invoice Address: {{ address }}</b><br>
            <b>E-mail Address: {{ email }} </b><br>
            <b>Payment Type: {{ order.payment_type }}</b><br>
            <b>Promotion Code: {{ order.code }}</b><br>
            <b>Invoice Number: {{ order.id }}</b><br>
            <b>Order Date: {{ order.created }}</b>
        </div>
    </div>
</div>

<br>
<br>

<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CODE</th>
            <th scope="col">UNIT PRICE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">PRODUCT</th>
            <th scope="col">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in order_detail %}
            <tr style="{% if forloop.counter == 12 or forloop.counter|divisibleby:20 and forloop.counter != 20 %}page-break-before: always;{% endif %}">
                <td>{{ obj.product.id }}</td>
                <td>{{ obj.product.price }}</td>
                <td style="padding-left: 35px !important;">{{ obj.quantity }}</td>
                <td>{{ obj.product.title }}</td>
                <td>{{ obj.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align: left"><b>TOTAL GOODS</b></td>
            <td>EUR {{ price_no_tax }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align: left"><b>VAT 19%</b></td>
            <td>EUR {{ tax_16 }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align: left"><b>VAT 7%</b></td>
            <td>EUR {{ tax_5 }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align: left"><b>SHIPPING FEE</b></td>
            <td>EUR {{ order.shipping_fee }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align: left"><b>TOTAL ORDER VALUE</b></td>
            <td>EUR {{ order.price }}</td>
        </tr>
        </tbody>
    </table>

{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-6"></div>#}
{#            <div class="col-7">#}
{#                <b>TOTAL GOODS EUR {{ price_no_tax }}</b><br>#}
{#                <b>VAT 16% EUR {{ tax_16 }}</b><br>#}
{#                <b>VAT 5% EUR {{ tax_5 }}</b><br>#}
{#                <b>SHIPPING FEE EUR {{ order.shipping_fee }}</b><br>#}
{#                <b>TOTAL ORDER VALUE EUR {{ order.price }}</b><br>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

</div>


{#<h5 style="text-align: right;">Sub Total: {{ order.total_price }} EUR</h5><br>#}
{#<h5 style="text-align: right;">Shipping: {{ order.shipping_fee }} EUR</h5><br>#}
{#<h5 style="text-align: right;">Total: {{ order.price }} EUR</h5>#}

{#<div class="fixed-bottom" style="text-align: center;top:885px;">#}
{#        <div style="margin-bottom: 20px">#}
{#            {%if seller.name != 'IQVIA (Thailand) Co., Ltd.'%}#}
{#            <h4 class="more-bold" style="font-size: 19px !important;">IQVIA Inc. - Thailand</h4>#}
{#            {%else%}#}
{#            <h4 class="more-bold" style="font-size: 19px !important;">IQVIA (Thailand) Co., Ltd.</h4>#}
{#            {%endif%}#}
{#            <small style="font-size: 13px !important;">Head Office: 191 Silom Complex Building, 23rd Floor, Room No.1-5, Silom Road, Silom, Bangrak, Bangkok 10500 Thailand</small><br>#}
{#            <small style="font-size: 13px !important;">Tel: (66) 2 686 2300 Fax: (66) 2 686 2490#}
{#                www.iqvia.com</small><br>#}
{#            <small style="font-size: 13px !important;">TAX-ID-No. 0100528001654</small>#}
{##}
{#        </div>#}
{#        <div style="border-top: 1px solid black;">&nbsp;</div>#}
{#    </div>#}

{#<footer class="fixed-bottom" style="text-align: center;top:1350px;">#}
{#    <div style="margin-bottom: 20px">#}
{#        <h4 class="more-bold" style="font-size: 19px !important;">ThaiMarket Express</h4>#}
{#        <small style="font-size: 13px !important;">Head Office: Lorem ipsum dolor sit amet, consectetur adipisicing#}
{#            elit. Aspernatur at dignissimos distinctio earum expedita illum ipsam ipsum necessitatibus nisi qui quo#}
{#            repudiandae veritatis voluptas voluptates, voluptatum. Est, exercitationem, facilis? Minus?</small><br>#}
{#        <small style="font-size: 13px !important;">Tel: 0000000#}
{#            thaimarket.express</small><br>#}
{##}
{#    </div>#}
{#    <div style="border-top: 1px solid black;">&nbsp;</div>#}
{#</footer>#}
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

</body>
</html>
